# Rename your existing VITE_SUPABASE_* variables to EXPO_PUBLIC_SUPABASE_*
# (Expo uses EXPO_PUBLIC_ prefix instead of VITE_)

EXPO_PUBLIC_SUPABASE_URL=your_supabase_url_here
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_key_here
